# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=****

# Get your Groq API Key here for reasoning models: https://console.groq.com/keys
GROQ_API_KEY=****

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****

# OPENAI API KEY
OPENAI_REALTIME_API_KEY=****
OPENAI_API_KEY=****

# Microsoft integration credentials
# Create these in the Azure Portal: https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade
MICROSOFT_CLIENT_ID=****
MICROSOFT_CLIENT_SECRET=****
MICROSOFT_REDIRECT_URI=http://localhost:3000/api/integrations/microsoft/auth/callback

# Google integration credentials
# Create these in the Google Cloud Console: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=****
GOOGLE_CLIENT_SECRET=****
GOOGLE_REDIRECT_URI=http://localhost:3000/api/integrations/google/auth/callback
